@use "sass:math";

:root {
    // GUI colors
    --black:              #000000;
    --black-primary:      #2c2c2c;
    --white:              #ffffff;
    --white-darkest:      #f2f0f0;
    --white-lightests:    #cccccc;
    --white-light:        #f7f7f7;
    --gray:               #494949;
    --gray-darker:        #929496;
    --grat-darkest:       #5f6163;
    --gray-light:         #8a8a8a;
    --gray-lightests:     #dadada;
    --payed-red:          #f8e8e8;
    --red:                #791919;
    --blue:               #005ff9;
    --payed-blue:         #e2e2fe;
    --payed-green:        #e9f8e8;

    // Border Radius Variables
    --radius:             4px;
    --radius-md:          8px;
    --radius-lg:          16px;

    // Font Weight Variables
    --f-weight-regular:   400;
    --f-weight-medium:    500;
    --f-weight-semi-bold: 600;
    --f-weight-bold:      700;
}
